.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: var(--color-secondary); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenavlist{
  padding: 0;

}
.sidenavlist li{
  list-style: none;
}
.sidenavlist li:hover a{
  background: var(--color-white);
  color: var(--color-secondary);
}
/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-white);
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  font-size: 12px;
  cursor: pointer;
}
.topnav{
  background: var(--color-primary);
  width: 100%;
  height: 195px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px 0;
  color: #f1f1f1;
}
.topnav .text{
  font-weight: 600;
}
.avatar img{
  border-radius: 50%;
  border: 3px solid var(--color-white);
  object-fit: cover;
  width: 130px;
  height: 130px;
  margin: auto;
}
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
